<div class="contenedor">

    
    <div class="contenedor_table_input">

        <h2 class="title">Consultar Cita</h2>

        <table class="table table-striped" *ngIf='citas && citas.length'>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">hora de cita</th>
                    <th scope="col">Fecha de cita</th>
                    
                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cita of citas|filtroCita:searchText; index as i ">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{cita.horaCita }}</td>     
                    <td>{{cita.fechaDeseada }}</td>  
                     
                </tr> 
            </tbody>
        </table>
    </div>
    

</div>