<div class="contenedor">
    
    <form class="contenedor_formulario">
        <h2 class="title">Agendar Cita</h2>

        <label for="fecha" class="inputDate">Fecha Requerida</label>
        <input type="date" name="fecha" [(ngModel)]="cita.fechaDeseada" class="input" />
    
            <label for="fecha" class="inputDate">Hora Deseada</label>
            <select type="text" name="horaCita" [(ngModel)]="cita.horaCita" class="input" (click)="verificando()">
                <option [value]="agenda" *ngFor="let agenda of agendaHora"> 
                    {{agenda}}
                </option>
            </select>

            

                    <button class="boton" (click)="add()">Agendar</button>
    </form>
    
</div>