<div class="contenedor">

  <form class="contenedor_formulario" [formGroup]="formGroup">

    <h2 class="title">Registrar Agenda</h2>
    <div class="form-group">
      <label for="fecha" class="inputDate">Fecha deseada</label>

      <input type="date" formControlName="fechaDeseada" class="form-control input" name="fecha"
        [ngClass]="{ 'is-invalid':  control.fechaDeseada.errors }" />
      <div *ngIf="control.fechaDeseada.errors" class="invalid-feedback">
        <div *ngIf="control.fechaDeseada.errors.required">La fecha es obligatoria</div>
      </div>
    </div>

    <div class="form-group" >
      <select type="text" formControlName="horaCita" type="text" class="input" 
        [ngClass]="{ 'is-invalid':  control.horaCita.errors }">
        <option value="Hora Deseada" selected disabled>Hora Deseada</option>
        <option>6:00 A.m - 8:00 A.m</option>
        <option>8:00 A.m - 10:00 A.m</option>
        <option>10:00 A.m - 12:00 P.m</option>
        <option>2:00 P.m - 4:00 P.m</option>
        <option>4:00 P.m - 6:00 P.m</option>
      </select>
      <div *ngIf="control.horaCita.errors" class="invalid-feedback">
        <div *ngIf="control.horaCita.errors.required">La hora es obligatoria</div>
      </div>
    </div>

    <button class="boton" (click)="onSubmit()" [disabled]="formGroup.invalid">Agendar</button>
  </form>

</div>
