*{
    box-sizing: border-box;
    margin: 0px;
}

.contenedor{
    width: 100%;
    min-height: 100vh;
    background-image: url(../../assets/Brainstorming.svg), radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment: fixed;
    background-position: right;
    padding: 0.01%;
}

.contenedor_login{
    width: 30%;
    min-height: 400px;
    background-color: rgba(8, 62, 99, 0.151);
    margin: 100px 50px;
    border-radius: 25px;
    padding: 00.01%;
}

.boton{
    width: 150px;
    min-height: 40px;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #505365;
    color: white;
    border: 0px;
}

.link{
    color: #68e1fd;
    text-decoration: none;
}

.input{
    width: 90%;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    display: block;
    border: 0px solid;
    margin: 10px auto;
    color: #505365;
}

.text_link{
    text-align: center;
    color: #505365;
}

.titulo{
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    margin-top: 100px;
}