<div class="contenedor">

  <div class="contenedor_login">
      <h1 class="titulo">Psicology App</h1>

      <form>
          <select class="input" type="text" name="tipousuario" [(ngModel)]="tipousuario">
              <option value="Tipo de usuario" disabled selected>Tipo de usuario</option>
              <option value="2">Administrador</option>
              <option value="3">Psicologo</option>
              <option value="1">Paciente</option>
          </select>
          <input class="input" type="text" placeholder="Nombre de Usuario" name="username" [(ngModel)]="username">
          <input class="input" type="password" placeholder="Contraseña" name="contra" [(ngModel)]="contra">

          <p class="text_link">Crear cuenta de paciente <a class="link" [routerLink]='["/personaRegistro"]'>aqui</a></p>   

          <button class="boton" (click)="Ingresar()">Ingresar</button>
      </form>

  </div>



</div>
